/fish/fish_variables
/fish/functions/pepabo.fish
/claude/history.json
/claude/stats-cache.json
/claude/debug
/claude/plans
/claude/tasks
/claude/todos
/claude/projects
/claude/session-env
/claude/file-history
/claude/shell-snapshots
claude/.credentials.json
claude/history.jsonl
