set showmode
set showcmd
set laststatus=2

set ignorecase
set smartcase

set incsearch
set hlsearch
set wrapscan

set clipboard+=unnamed

set showmatch

set surround

set wildmenu wildmode=list:full "コマンドラインモードの補完機能 on

nnoremap / :<C-u>action Find<CR>

nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>

nnoremap [v :action VcsShowPrevChangeMarker<CR>
nnoremap ]v :action VcsShowNextChangeMarker<CR>

nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>

nnoremap [c :action JumpToLastChange<CR>
nnoremap ]c :action JumpToNextChange<CR>

nnoremap [n :action NextOccurence<CR>
nnoremap ]n :action PreviousOccurence<CR>

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <C-S-o> <C-o>
nnoremap <C-S-i> <C-i>

nnoremap K :action QuickJavaDoc<CR>
nnoremap <C-k> :action ShowUsages<CR>
nnoremap <Space>k :action GotoDeclaration<CR>
nnoremap <Space>K :action GotoTypeDeclaration<CR>
nnoremap <Space>i :action GotoImplementation<CR>
nnoremap <Space>s :action GotoSuperMethod<CR>
nnoremap <Space>t :action GotoTest<CR>

command! Exit :action Exit<CR>

